.navbar {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Black shadow */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.navbar-logo {
  color: #00ba50;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-link {
  color: #333; /* Dark text color */
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #00ba50; /* Primary color on hover */
}
